.cadastrar-gestor{
    text-align: center;
}

.botao-cadastra-gestor {
    align-self: center;
    background-color: #007bff; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    border-radius: 5px; /* Borda arredondada */
    margin-bottom: 10px; /* Margem inferior para separação */
    text-align: center;
  }
  
.botao-cadastra-gestor:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Estilo para as células do cabeçalho da tabela */
  th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  /* Estilo para as células de dados da tabela */
  td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Estilo para os botões dentro da tabela */
  table button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 5px;
  }

  table button.editar {
    background-color: #28a745;
  }
  
  table button.editar:hover {
    background-color: #1e7e34;
  }

  table button.deletar {
    background-color: rgb(211, 18, 18);
  }

  table button.deletar:hover {
    background-color: rgb(175, 31, 31);;
  }
  
  /* Estilo para os links de detalhes do gestor na tabela */
  table span {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 10px;
  }
  
  table span:hover {
    color: #0056b3;
  }
  