.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
} 
  
  